/* Base Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "SF UI Text", sans-serif;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.logo {
    width: 96px;
    display: flex;
    margin: 0 auto;
}

.login-container, .container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    margin: auto;
    box-sizing: border-box;
    min-height: 100vh;
    min-height: -webkit-fill-available; /* Fixes issues with iOS Safari viewport */
}

.header-splash {
    margin-top: 70%;
}

h1 {
    color: #000;
    font-family: "New York Extra Large";
    font-size: 48px;
    font-weight: 800;
    line-height: 1.2;
    margin: 0;
}

h2 {
    color: #000;
    font-family: "New York Extra Large";
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
}

p {
    color: rgba(0, 0, 0, 0.64);
    font-family: "SF UI Text";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 4px;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
    flex: 1; /* Make sure the form group takes up available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

input[type="text"] {
    width: 100%;
    padding: 24px;
    font-family: "SF UI Text", sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.actions {
    flex-direction: column;
    display: flex;
    gap: 8px;
}

.btn {
    padding: 16px;
    font-family: "SF UI Text";
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto; /* Pushes the button to the bottom of the form */
}

.btn-secondary {
    background-color: #f4f4f4;
    color: #333;
}

.flashes {
    list-style-type: none;
    padding: 0;
    color: red;
}

/* Playlist Embed Styles */
.playlist-embed {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-embed iframe {
    width: 100%;
    height: 100%; /* Full height for mobile */
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
    .container, .login-container {
        max-width: 600px;
        padding: 32px;
        height: auto;
        gap: 16px;
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 32px;
    }

    .btn {
        padding: 24px;
        font-size: 18px;
    }

    .playlist-embed iframe {
        height: 500px; /* Fixed height for desktop */
    }
}