<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Burnr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="header-splash">
            <img class=logo src="{{ url_for('static', filename='images/burnr2.png') }}" alt="burnr logo">
            <h1>burnr</h1>
            <p>Create playlists based on your mood instantly.</p>
        </div>
        
        <a href="{{ authorize_url }}" class="btn btn-primary">Sign in with Spotify</a>
    </div>
</body>
</html>
